<h1>Rails static assets</h1>

<p>This Rails application was built to benchmark the performance of Rails serving up static assets vs nginx, Apache, or other web servers.</p>

<h2>Rails public file server configuration</h2>

<dl>
  <dt>RubyVM::YJIT.enabled?</dt>
  <dd><%= RubyVM::YJIT.enabled?.inspect %></dd>

  <dt>Rails.configuration.public_file_server.inspect</dt>
  <dd><%= Rails.configuration.public_file_server.inspect %></dd>

  <dt>request.env["SERVER_SOFTWARE"]</dt>
  <dd><%= request.env["SERVER_SOFTWARE"] %></dd>
</dl>

<h2>Static assets in the <code>./public</code> directory</h2>

<ul>
  <% public_asset_urls.each do |url| %>
    <li><%= link_to url, url %></li>
  <% end %>
</ul>

<p>A JSON list of these assets is available at <%=link_to public_assets_url(format: :json), public_assets_url(format: :json) %></p>